svg {
    margin-top: 30px;
    margin-left: 50px;     
}

#div_tooltip{
    opacity: 0;
    position: absolute;
    text-transform: capitalize;
    font-size: 11px;
    background-color: #323232;
    color: white;
    padding: 4px;
    border-radius: 3px;
    display: block;
}

.county_boundary{
    fill: none;
    stroke: #000;
    stroke-opacity: 0.2;
    stroke-width: 0.3px;    
}